a {
  color: $brand-blue;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: lighten($brand-blue, 10%);
  }
}

h1 {
  font-size: 52px;
}

h2 { font-size: 42px;}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  font-weight: $font-weight;

  a {
    color: $brand-blue;

    &:visited {
      color: $brand-blue;
    }

    &:hover {
      text-decoration: none;
      background: none;
      color: lighten($brand-blue, 10%);
    }
  }
}


p {
  font {
    family: $font;
    weight: $font-weight;
  }
  line-height: $line-height;
  color: $brand-blue
}

.navbar-brand {
  img {
    width: 100%;
  }
}

.content {
  margin-top: $gutter * 2;
  margin-bottom: $gutter * 2;
}

.footer {
  margin: 36px 0 0 0;
  padding: 12px 0 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $off-white;
  height: 90px;
  background: $brand-blue;

  a {
    color: $off-white;

    &:hover {
      color: transparentize($off-white, .25);
    }
  }
}

.post {
  margin-bottom: 42px;
}

.post-footer {
  font-size: 14px;
  color: #666;

  span.timestamps {
    width: 70%;
  }

  span.actions {
    width: 30%;
    float: right;
    text-align: right;
  }
}

.actions {
  padding: $gutter/2 0;
  border-top: 1px solid $separator-color;
  border-bottom: 1px solid $separator-color;
  margin: $gutter 0;
}

.actions a {
  color: #666;

  &:hover {
    text-decoration: none;
    color: #069;
  }
}

.rAlign {
  text-align: right;
}

